table { 
color: #003;/* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 1200px; /* Make table wider */
border-collapse: collapse; 
border-spacing: 0;} 
td, th { border: 1px solid #CCC; } /* Add borders to cells */


th {
background: #F1F1F1;; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FEFEFE; /* Lighter grey background */
text-align: center; /* Center our text */
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  


/*
tr td:hover { background: #666; color: #FFF; } Hover cell effect! */



.menu_simple ul {
margin: 0;
padding: 0;
width:150px;
list-style-type: none;
}

.menu_simple ul li a {
text-decoration: none;
color: white;
padding: 15px 10px 15px 15px;
background-color: #005555;
display:block;

}


.menu_simple ul li a:visited {
color: white;
}

.menu_simple ul li a:hover, .menu_simple ul li .current {
color: white;
background-color: #5FD367;
}



