{% extends "base.html" %}
{% block content %}
 <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap.min.css')}}">
  <script src="{{ url_for('.static',filename= 'js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script> 
   <link rel="stylesheet" href="{{ url_for('.static', filename='css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap.css' )}}">





<div class="container">
  <h2>ADD EMPLOYEE </h2>
  <p>Add employee to use leave management app</p>



  <form role="form" action="/empreg" method='post'>
 
  {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="empfirstname">FIRST NAME</label>
      <input type="text" class="form-control" id="empfirstname"  name="empfirstname" placeholder="First Name" >
    </div>
    <div class="form-group">
      <label for="empmiddlename">MIDDLE NAME</label>
      <input type="text" class="form-control" id="empmiddlename" placeholder="Middle Name">
    </div>
    <div class="form-group">
      <label for="emplastname">LAST NAME</label>
      <input type="text" class="form-control" id="emplastname" placeholder="Last Name">
    </div>
    <div class="form-group">
    <label for="empemail">EMAIL</label>
    <input type="email" class="form-control" id="empemail" placeholder="Email">
  </div>
    <div class="form-group">
      <label for="emppwd">Password:</label>
      <input type="password" class="form-control" id="emppwd" placeholder="Enter password">
    </div>
    
<div class="form-group has-feedback">
      <label for="empdateofjoining">DATE OF JOINING:</label>
      <input type="text" class="form-control" id="empdateofjoining" placeholder="click to enter date of joining">
          <i class="glyphicon glyphicon-calendar form-control-feedback"></i></div>


      <button class="btn btn-success">ADD</button>
    <button type="button" class="btn btn-danger">Cancel</button>
    </div>
    <script src="{{ url_for('.static', filename='js/jquery-1.9.1.min.js') }}"
></script>
  <script src="{{ url_for('.static', filename='js/bootstrap-datepicker.js') }}"
src="js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () 
    {
    	$('#empdateofjoining').datepicker({format: "dd/mm/yyyy"});
     });
  </script>
    </form>
</div>








{% endblock %}
~               
