{% extends "base.html" %}
{% block content %}


<link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap/css/bootstrap.min.css')}}">
<script src="{{ url_for('.static',filename='bootstrap/js/bootstrap.min.js') }}"> </script>
<script src="{{ url_for('.static', filename='bootstrap/js/jquery.min.js') }}"> </script> 
<link rel="stylesheet" href="{{ url_for('.static',filename='css/open.css') }}">




   
<div class="container">
  <div class="col-sm-15">
    <div class="row"><!--row starting -->
      <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel panel-heading"><p class="panel-title"><a data-toggle="collapse" href="#Leaves">Leaves</p></a></div>
        <div id="Leaves" class="panel-collapse collapse">
          <div class="panel panel-body">
            <p class="text-primary"><span class="label label-danger pull-right">14</span> Total Leaves </p>
            <p class="text-success"><span class="label label-success pull-right">{{ leave.usedleaves }}</span>Leaves Taken</p>
            <p class="text-danger"><span class="label label-primary pull-right">{{ leave.Availableleaves }}</span> Leaves Remaining</p>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">{{ leave.usedleaves }} Taken</div>
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">{{ leave.Availableleaves }} Remaining</div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
      <div class="panel panel-heading"><p class="panel-title"><a data-toggle="collapse" href="#collapse1">Upcoming Birthdays</a></p></div>
      <div id="collapse1" class="panel-collapse collapse">
        {% for Birthday in Birthdays %}
          <div class="panel panel-body"><p>{{ Birthday.user_id }} {{ Birthday.user_id }} </p><small class="text-info"> {{ Birthday.Month }} {{ Birthday.Date }}</small></div>
        {% endfor %}
      </div>
    </div>
    </div>
      <div class="col-md-4">
      <div class="panel panel-primary">

        <div class="panel panel-heading"><p class="panel-title"><a data-toggle="collapse" href="#Holidaylist">Holidays List</a></p></div>
      <div id="Holidaylist" class="panel-collapse collapse">
      <div class="panel panel-body">
      <table class="table">
      <thead class="text-danger">
      <tr>
      <th>Month</th>
      <th>Date</th>
      <th>Occasion</th>
      <th>Day</th>
      </tr>
      </thead>
    
      <tbody>
     
        {% for day in days %}
      <tr>
      <td><h5>{{ day.Month }}</h5></td>
      <td><h5>{{ day.Date }}</h5></td>
      <td><h5>{{ day.Holiday }}</h5></td>
      <td><h5>{{ day.Week }}</h5></td>
      </tr>
       {% endfor %}
      </tbody>
      </table>
     </div>
  </div>
</div>
</div>
	
    </div><!--/row-->    
  </div><!--/col-12-->
<!--/row-->
<div class = "panel"> 
<div class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/home">
    <i class="glyphicon glyphicon-bell">Notifications<span class="badge badge- notify">10</span></i>
  </a>
  

  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
    
    <div class="notification-heading"><h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
    </div>
    <li class="divider"></li>
   <div class="notifications-wrapper">
     <a class="content" href="#">
      
       <div class="notification-item">
        <h4 class="item-title">Applied Leave for 1  day</h4>
        <p class="item-info">EmployeeId  181, Ramarao Kedarasetti</p>
      </div>
       
    </a>
     <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Applied Leave for 1  day</h4>
        <p class="item-info">EmployeeId 173, Manikanth Patwari</p>
      </div>
    </a>
     <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1  day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>
    </a>
     <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1  day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>

    </a>
     

   </div>
    <li class="divider"></li>
    <div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
  </ul>
  </div>
  
</div>



</div>



{% endblock %}

