
{% extends "base.html" %}

{% block content %}
<h1>Welcome to leavestatus page<h1>

{% if post == None %}
<p>
wrong entry
</p>

{% else %}
<table class="table">
<thead>
<tr>
    <th>Application no.</th>
    <th>Apply Date</th>
    <th>Username</th>
    <th>Leavetype</th>
    <th>From</th>
    <th>To</th>
    <th>No. of Days</th>
    <th>Purpose</th>
    <th>balanceLeave</th>
<th>Total leaves taken</th>
<th>Leave Status</th>
{% for post in posts %}
</tr>
</thead>
<tbody>
<tr class="info">
    <td>{{ post.id }}</td>
    <td>{{ post.Applydate }}</td>
    <td>{{ post.username }}</td>
    <td>{{ post.leavetype }}</td>
    <td>{{ post.todate }}</td>
    <td>{{ post.fromdate }}</td>
    <td>{{ post.noofdays }}</td>
    <td>{{ post.Reason }}</td>
    <td>{{ post.Availableleaves }}</td>
</tr>
</tbody>
{% endfor %}

<tr class="danger">
    <td>1</td>
    <td>27/05/2016</td>
    <td>Ramarao</td>
    <td>Casual Leave</td>
    <td>28/05/2015</td>
    <td>30/05/2015</td>
    <td>5</td>
    <td>Going home</td>
    <td>13</td>
</tr>




<tr class="success">
    <td>1</td>
    <td>27/05/2016</td>
    <td>Ramarao</td>
    <td>Casual Leave</td>
    <td>28/05/2015</td>
    <td>30/05/2015</td>
    <td>5</td>
    <td>Going home</td>
    <td>13</td>
</tr>



</table>
{ % endif % }

</div>
<div class="menu_simple">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Leaves</a></li>
<li><a href="#">Asserts</a></li>
<li><a href="#">Employee</a></li>
</ul>
</div>

<link rel="stylesheet" href="{{ url_for('.static', filename='css/theme.css') }}">s
</body>
{% endblock %}