{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap.min.css')}}">
  <script src="{{ url_for('.static',filename= 'bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='bootstrap/js/jquery.min.js') }}"></script> 
   <link rel="stylesheet" href="{{ url_for('.static', filename='css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='bootstrap/css/bootstrap.css' )}}">
<script type="text/javascript">
 $(function()
    {
        $('#usr').attr('disabled', 'disabled');
        

    });
</script>
<style>
        .form-control {
                width:100%;
            }
        </style>
{% endblock %}

{% block body %}

<h1>Welcome to leaverequest page</h1>

{% for message in form.fromdate.errors %}
<div class="new"><strong>Invalid!</strong>{{ message }}</div>
{% endfor %}


<div class="container">
  <h2>Leave Application Form</h2>
  <p>Apply for leave</p>
  <form role="form" action="/leaverequest" method='post'>
  
  {{ form.hidden_tag() }}
   <div class="col-sm-15">
    <div class="row"><!--row starting -->
      <div class="col-md-4">

        <div class="form-group">
          <label for="usr">Employee Name</label>
          <input type="text" class="form-control" id="usr" name="usr" value= " {{ user.firstname }} ">
        </div>
    </div>
  <div class="col-md-4">

    <div class="form-group">
      <label for="mgr">Select Manager</label>
      <select class="form-control" id="mgr" name="mgr" multiple>
        <option>Sai</option>
        <option>Satya</option>
        <option>Sumit</option>
        <option>Rajesh</option>
      </select>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="form-group">


      <label for="mgr">Leave Type</label>
      <select class="form-control" id="leavetype" name="leavetype">
        <option class="text">CasualLeave</option>
        <option>SickLeave</option>
        <option>MaternityLeave</option>
        <option>OtherLeave</option>
      </select>
      </div>
      </div>


<div class="col-md-4">

   <div class="form-group has-feedback">
      <label for="fromdate">Fromdate</label>
      <input type="text" class="form-control" id="fromdate" placeholder="Enter from date" name="fromdate">
          <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
  
 </div>
 </div>
 </div>
 </div>
  <div class="form-group has-feedback">
      <label for="todate">Todate</label>
      <input type="text" class="form-control" id="todate" placeholder="Enter To date" name="todate">
<i class="glyphicon glyphicon-calendar form-control-feedback"></i>
         
</div>
<div class="form-group">
      <label for="reason">Reason:</label>
      <textarea class="form-control" rows="5" id="reason" name="reason"></textarea>
    </div>



 </div>
 <div class="form-group">
<div class="container">
<button class="btn btn-success">ADD</button>
</div>
</div>


 <script src="{{ url_for('.static', filename='bootstrap/js/jquery-1.9.1.min.js') }}"
></script>
  <script src="{{ url_for('.static', filename='bootstrap/js/bootstrap-datepicker.js') }}"
src="js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function () 
    {
    	$('#fromdate').datepicker({format: "yyyy-mm-dd"});
     });
    $(document).ready(function () 
    {
    	$('#todate').datepicker({format: "yyyy-mm-dd"});
     });
  </script>
 
    
  </form>
</div>





{% endblock %}