{% extends "base.html" %}
{% block head %}

<script src="{{ url_for('.static',filename='bootstrap/js/bootstrap.min.js') }}"> </script>
<script src="{{ url_for('.static', filename='bootstrap/js/jquery.min.js') }}"> </script>

{% endblock %}
{% block body %}


<h1>Welcome to leavestatus page</h1>
{{ post }}
{% if posts != None %}

<form action="" method='post'>

  {{ form.hidden_tag() }}


<input type="text" name="search">
</form>
<div class="container">
<div class="table-responsive">
<table class="table">

<thead>
<tr>
    <th>Application no.</th>
    <th>Apply Date</th>
    <th>Username</th>
    <th>Manager</th>
    <th>Leavetype</th>
    <th>From</th>
    <th>To</th>
    <th>No. of Days</th>
    <th>Purpose</th>
    <th>balanceLeave</th>
<th>Total leaves taken</th>
<th>Leave Status</th>
{% for post in posts %}

</tr>
</thead>
<tbody>
{% if post.leavestatus == "Approved" %}

<tr class="success">

{% elif post.leavestatus == "Pending" %}
<tr class="info">
{% else %}

<tr class="danger">
{% endif %}
    <td>{{ post.id }}</td>
    <td>{{ post.Applydate }}</td>
	<td>{{ post.username }}</td>
    <td>{{ post.manager }}</td>
    <td>{{ post.leavetype }}</td>
    <td>{{ post.todate }}</td>
    <td>{{ post.fromdate }}</td>
    <td>{{ post.noofdays }}</td>
    <td>{{ post.Reason }}</td>
    <td>{{ post.Availableleaves }}</td>
    <td></td>
    <td>{{ post.leavestatus }}</td>
</tr>
</tbody>
{% endfor %}





</table>
</div>

</div>
{% else %}
<p>
wrong entry
</p>

{% endif %}


<link rel="stylesheet" href="{{ url_for('.static', filename='css/theme.css') }}">

{% endblock %}