
  <form class="login-form" action="" method = 'post' >
{% if form1 %}
	{{ form1.hidden_tag() }}
{% endif %}
      <input type="text" placeholder="username" name="firstname" value={% if form1 %} {{ form1.firstname.data }} {% endif %} >
      <input type="password" placeholder="password" name="password" value= {% if form1 %} {{ form1.password.data }}{% endif %}  >
      <button>login</button>
      <p>Not registered?<a href="/regleave">Register</a></p>
	{% if error %}
	<p class="error"><strong>Error:</strong>{{ error }}</p>
	{% endif %}
    </form>

