<!DOCTYPE html> 
<html lang=en> 
<head> 
<meta charset=utf-8>
<title>Main</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

</head>
<header>
<nav>
    <div class="navbar-header">
      <a class="navbar-brand">
        <img alt="Brand" src="{{ url_for('static', filename='images/nexiilogo.png') }}">
      </a>
    </div>
  
</nav>
</header>



 <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap.min.css')}}">
  <script> src="{{ url_for('.static',filename='bootstrap.min.js') }}>" </script>
  <script> src="{{ url_for('.static', filename='jquery.min.js') }}>" </script> 

    <div class="login">
    <table>
    <tr>
    <td><a tabindex="30" href="/login">LOGIN</a></td>
    <td>
    <p><a href = "/regleave">New user Registration</a></p></td>
    </tr>
    </table>
    <p>The local date and time is </p>
	  </div>


<!--  </body>
</html>-->
