<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename= 'css/theme.css') }}">
</head>


<table>
<tr>
    <th>Application no.</th>
    <th>Apply Date</th>
    <th>Username</th>
    <th>Leavetype</th>
    <th>From</th>
    <th>To</th>
    <th>No. of Days</th>
    <th>Purpose</th>
    <th>balanceLeave</th>
<th>Total leaves taken</th>
<th>Leave Status</th>
</tr>
<tr>
    <td>1</td>
    <td>27/05/2016</td>
    <td>Ramarao</td>
    <td>Casual Leave</td>
    <td>28/05/2015</td>
    <td>30/05/2015</td>
    <td>5</td>
    <td>Going home</td>
    <td>13</td>
</tr>

<tr>
    <td>1</td>
    <td>27/05/2016</td>
    <td>Ramarao</td>
    <td>Casual Leave</td>
    <td>28/05/2015</td>
    <td>30/05/2015</td>
    <td>5</td>
    <td>Going home</td>
    <td>13</td>
</tr>




<tr>
    <td>1</td>
    <td>27/05/2016</td>
    <td>Ramarao</td>
    <td>Casual Leave</td>
    <td>28/05/2015</td>
    <td>30/05/2015</td>
    <td>5</td>
    <td>Going home</td>
    <td>13</td>
</tr>



</table>





</body>