{% extends "base.html" %}
{% block content %}
<style>
  .profile{
  float: right;
  margin-top:5px;
}
.profile span{
  margin-top:5px;
}

</style>


<h1>Welcome to profile page</h1>
{% if user != None %}
<div class="container">


<table class="table">
	   <tr> 
   	  <td>First Name:</td>
 	    <td>{{user.firstname}}</td>
    </tr>
    <tr>
	   <td>Last Name:</td>
	   <td>{{user.lastname}} </td>{{ error }}
    </tr>
    <tr>
	    <td> EmailId:</td>
   	  <td> {{user.emailid}} </td>{{ error }}
    </tr>
    <tr>
	   <td>Gender:</td>{{ error }}
   	 <td>{{user.Gender}}</td>
    </tr>
    <tr>
	   <td>EmployeeId:</td>
     <td>{{user.empid}}</td>{{ error }}
    </tr>
    <tr>
	   <td>MobileNo:</td>
     <td>{{user.Mobilenum}}</td>{{ error }}
     </tr>              
   <tr>
   <td>Date of Birth:</td>
   <td>
    
      {{user.DateOfBirth}}
   
    </td>

   </tr>
   <tr>
   <td>BloodGroup:</td>
   <td>
    
      {{ user.BloodGroup }}
   
    </td>
    
   </tr>



<div class="profile">
<img src="{{ url_for('.static',filename='images/profile.jpg') }}">
<b id = "select_file" class="span3" style="font-weight: bold; cursor: pointer; ">Please Select an Image</b>
            <input class="span3" type="file" name="image_file" id="image_file" style="display:none " /> 
        
</div>

</table>
</div>
{% else %}
<p> Wrong entry</p>

{% endif %}
<script>
$(document).ready(function(){
  $('#select_file').click(function() {
       $('#image_file').click();
      $('#image_file').change(function() {
          var filename = $('#image_file').val();
          $('#select_file').html(filename);
      });
  });
});
  </script>

{% endblock %}