{% extends "base.html" %}
{% block content %}
<h1>Welcome to profile page</h1>
{% if user != None %}
<div class="container">


<table class="table">
	   <tr> 
   	  <td>First Name:</td>
 	    <td>{{user.firstname}}</td>
    </tr>
    <tr>
	   <td>Last Name:</td>
	   <td>{{user.lastname}} </td>{{ error }}
    </tr>
    <tr>
	    <td> EmailId:</td>
   	  <td> {{user.emailid}} </td>{{ error }}
    </tr>
    <tr>
	   <td>Gender:</td>{{ error }}
   	 <td>{{user.Gender}}</td>
    </tr>
    <tr>
	   <td>EmployeeId:</td>
     <td>{{user.empid}}</td>{{ error }}
    </tr>
    <tr>
	   <td>MobileNo:</td>
     <td>{{user.Mobilenum}}</td>{{ error }}
     </tr>              
   <tr>
   <td>Date of Birth:</td>
   <td>
    
      {{user.DateOfBirth}}
   
    </td>

   </tr>
   <tr>
   <td>BloodGroup:</td>
   <td>
    
      {{ user.BloodGroup }}
   
    </td>
    
   </tr>





</table>
</div>
{% else %}
<p> Wrong entry</p>

{% endif %}


{% endblock %}